.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}


.feed__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--twitter-background);
}

.feed__tab {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--twitter-gray);
  transition: all 0.3s ease;
}

.feed__tab.active {
  color: var(--twitter-blue);
  border-bottom: 3px solid var(--twitter-blue);
}

.feed__tab:hover {
  background-color: var(--twitter-gray-light);
}


